<!DOCTYPE html>
<html>

<head>
    <title>MakersBnB-Air</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div>
        <h1>Create a space</h1>
        <form action="/create_space" method="post">

            <input type="text" name="name" placeholder="name" required/>
            <input type="text" name="description" placeholder="description" required/>
            <input type="number" name="price" placeholder="price" required />
            <input type="number" name="user_id" placeholder="user_id" required />

            <button type="submit">Create space</button>
        </form>
    </div>
    <p class="t-error">
        {{ error }}
    </p>
</body>

</html>