<!DOCTYPE html>
<html>

<head>
    <title>MakersBnB-Air</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div>
        <h1>Register</h1>
        <form action="/register" method="post">

            <input type="text" name="username" placeholder="Username" />
            <input type="text" name="email" placeholder="Email" />
            <input type="text" name="password" placeholder="Password" />

            <button type="submit">Submit</button>
        </form>
    </div>
    <p class="t-error">
        {{ error }}
    </p>
    <div>
        <a href="/login" role="button">Login</a>
    </div>
</body>

</html>