<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB - Air</title>

        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <a href="/create_space"><button>Create a space</button></a>
        {% for space in spaces %}

            <a href="/spaces/{{space.id}}"><h3>{{ space.name }}</h3></a>
            <h5>{{ space.price }}</h5>
            <p>{{ space.description }}</p>

        {% endfor %}

    </body>
</html>`