{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<a href="/create_space"><button>Create a space</button></a>
<div class="row">
    {% for space in spaces %}
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">{{ space.name }}</h5>
                <h5 class="card-title">{{ space.price }}</h5>
                <p class="card-text">{{ space.description }}</p>
            </div>
            <div class="d-grid gap-2 mt-3">
                <button type="submit" class="btn btn-primary btn-block">Book This Space
                    <a href="/booking/{{space.id}}"></a>
                </button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}


